<!-- Barra de Navegación Principal -->

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{titulo}}</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['inicio']"> Inicio </a>
      <a class="nav-item nav-link" [routerLink]="['pruebas']">Pruebas</a>
      <a class="nav-item nav-link" [routerLink]="['problemas']">Problemas</a>
      <a class="nav-item nav-link" [routerLink]="['taxono']">Taxonomía</a>
    </div>
  </div>
</nav>
